@import '@fontsource-variable/ibm-plex-sans';
@import '@fontsource/ibm-plex-mono';

@import 'reveal.js/dist/reveal';
@import 'reveal.js/dist/theme/night';
@import 'reveal.js/plugin/highlight/monokai';

@import "tailwindcss";

@theme {
  --font-sans: 'IBM Plex Sans Variable', sans-serif;
  --font-mono: 'IBM Plex Mono', monospace;
  --text-shadow-xl: 7px 7px 9px rgb(0, 0, 0 / 0.25);
}

:root {
  --r-main-font: 'IBM Plex Sans Variable', sans-serif;
  --r-code-font: 'IBM Plex Mono', monospace;
  --r-heading-font: 'IBM Plex Sans Variable', sans-serif;
  --r-heading-font-weight: bold;

  --r-main-font-size: 1.5em;
  --r-heading1-size: 2.5em;
  --r-heading2-size: 2em;
  --r-heading3-size: 1.75em;

  --r-link-color: #63b3ed;
  --r-block-margin: 10px;
  --r-heading-margin: 10px;
}

.reveal ul {
  list-style-type: none;
}

.reveal img {
  /* width: 75%; */
  max-height: 50%;
  max-width: 75%;
  margin: 0 auto;
}

.hljs {
  background: #27282222;
}
