---
import Presentation from '../layouts/Presentation.astro';

import Accent from '../components/Accent.astro';
import Title, { fancyGradient } from '../components/Title.astro';
import Subtitle from '../components/Subtitle.astro';
---

<Presentation>
  <section id="hello">
    <h1>Evolution of the <Accent>JS</Accent> toolchain</h1>
    <p class="text-4xl text-right pr-12">from <Accent>jsmin</Accent> to <Accent variant='secondary'>vite</Accent></p>
  </section>

  <section id="about-me">
    <h2>I am <Accent>@debelbot</Accent></h2>
  </section>

  <section id="what-is-the-toolschain">
    <h2>What is a toolchain?</h2>
  </section>
 
  <section id="meme-rube-goldberg">
    <img src="public/modern-software-mess.jpg" />
  </section>

  <section id="the-toolchain">
    <h2>A collection of tools for:</h2>
    <ul class="leading-relaxed">
      <li>📦 Package management</li>
      <li>🖥️ Local development</li>
      <li>⚗️ Improving code quality</li>
      <li>🔨 Building & bundling</li>
      <li>⚙️ Optimization</li>
      <li>🏃‍♂️ Running task & deployment</li>
    </ul>
  </section>

  <section id="let-there-be-tools-1">
    <h2>And God said <span class="italic">"let there be tools!"</span></h2>
  </section>

  <section id="let-there-be-tools-2">
    <h2 class="decoration-double line-through decoration-4 decoration-red-500/75">
      And God said <span class="italic">"let there be tools!"</span>
    </h2>
  </section>

  <section id="meme-no-ai-slop">
    <img src="public/ai-jesus.jpg" />
  </section>

  <section id="let-there-be-tools-3">
    <p class="pb-0 mb-0">In reality,</p>
    <h2>
      the tools we take for granted today are the result of years of <Accent variant="secondary">feverish</Accent> evolution
    </h2>
  </section>
  <section id="dawn-of-time">
    <Title prefix="1991-2000">The big (web) bang</Title>
  </section>

  <section id="in-the-beginning">
    <Title prefix="1991">humble beginnings</Title>
    <p class="italic">static html only </p>
    <hr class="shadow-blue-700 shadow-2xl bg-blue-700" />
    <p class="text-2xl">There was no need for a <span class="italic">"build step"</span>
    and deployment mostly happend through FTP..😱</p>
  </section>

  <section id="the-birth-of-js">
    <Title prefix="1995">The birth of JavaScript</Title>
    crazy 90s web design
  </section>

  <section id="enter-the-professionals">
    <h2>Enter the professionals</h2>
    <p>As the web grew in popularity,
    established software developers
    come in with their familiar tools:</p>
    <ul>
      <li>make</li>
      <li>Apache Ant</li>
      <li>Ruby Rake</li>
      <li>custom shell / perl scripts</li>
    </ul>
  </section>

  <section id="first-debugger">
    <Title prefix="1998">Microsoft Script Debugger</Title>
    I don't always debug, but when I do - I use <Accent>alert()</Accent>
  </section>

  <section id="first-wave">
    <Title prefix="2001-2010">stone, bronze and iron</Title>
    <Subtitle>the prolifiration of framework drives the tooling</Subtitle>
  </section>

  <section id="the-godfather-of-js">
  <Title prefix="2002">The good parts</Title>
    <p><Accent variant='tertiary'>Doug Crockford</Accent> writes his famous book and creates jslint and jsmin.</p>

    <p>JavaScript starts to be seen as a real language!</p>
  </section>

  <section id="jquery">
    <Title prefix="2006">jQuery</Title>
    Still the most popular js library ever
  </section>

  <section id="firebug">
    <Title prefix="2006">Firebug</Title>
    The best (non) IDE ever made
  </section>

  <section id="chrome">
    <Title prefix="2009">Chrome & v8</Title>
    JavaScript gets a new, faster engine!
  </section>

  <section id="node-js">
    <Title prefix="2009">node.js</Title>
    <Accent variant='tertiary'>Ryan Dahl</Accent> publishes the definitive server side runtime for javascript
  </section>

  <section id="node-js">
    <Title prefix="2009">Source maps</Title>
    Allow us to debug minified code
  </section>

  <section id="npm">
    <Title prefix="2010">npm</Title>
    enabling side-chain attacks since before it was cool
  </section>

  <section id="backbone">
    <Title prefix="2010">backbone js</Title>
    The first popular js framework
  </section>

  <section id="angular">
    <Title prefix="2010">angular</Title>
    Google creates its own framework
  </section>

  <section id="cambrian-explosion">
    <Title prefix="2011-2018">industrial revolution</Title>
    of js tools
  </section>

  <section id="jasmine">
    <Title prefix="2010">Jasmine</Title>
    <p>The first JS testing framework</p>
  </section>

  <section id="browserify">
    <Title prefix="2011">Browserify</Title>
    The first pure JS bundler
  </section>

  <section id="need-for-speed">
    <Title prefix="2011">Emscripten</Title>
    <p>laying the groundwork for wasm</p>
  </section>

  <section id="js-linux">
    <Title prefix="2011">JSLinux</Title>
    <p>the birth of in-browser VMs</p>
  </section>

  <section id="grunt">
    <Title prefix="2012">Grunt</Title>
    The first purpose built js task runner
  </section>

  <section id="webpack">
    <Title prefix="2012">webpack</Title>
    still popular today
  </section>

  <section id="typescript">
    <Title prefix="2012">typescript</Title>
    the most helpful but annoying linter
  </section>

  <section id="react">
    <Title prefix="2013">react</Title>
    Facebook published the first version of React
  </section>

  <section id="gulp">
    <Title prefix="2013">gulp</Title>
    A task runner with a better API
  </section>

  <section id="eslint">
    <Title prefix="2013">eslint</Title>
    <p>One linter to rule them all</p>
    <aside class="italic">(just admit you imported the airbnb config without even thinking..)</aside>
  </section>

  <section id="desktop-js">
    <Title prefix="2013">Electron</Title>
    Now your desktop app can be slow and bloated too!
  </section>

  <section id="vue">
    <Title prefix="2014">vue</Title>
    First version of vue js
  </section>
 
  <section id="babel">
    <Title prefix="2014">Babel</Title>
    With the rapid evolution of the language
    came the need for transpilation
    opening the gates for new syntax (e.g. JSX)
  </section>

  <section id="the-rise-of-serverless">
    <Title prefix="2014">AWS Lambda</Title>
    the rise of serverless
    (not directly related to dev-tools but significant for its impact on them)
  </section>

  <section id="unpkg">
    <Title prefix="2015">unpkg</Title>
    cdn for the masses
  </section>

  <section id="rollup">
    <Title prefix="2015">rollup</Title>
    a bundler made for speed
  </section>

  <section id="yarn">
    <Title prefix="2015">yarn</Title>
    move aside npm there is a faster cowboy in town
    (now with lockfiles, so you can actually deploy what you intented)
  </section>

  <section id="next-js">
    <Title prefix="2016">next.js</Title>
    and the rise of the meta-frameworks
  </section>

  <section id="lsp">
    <Title prefix="2016">Language Servers Unite!</Title>
    Microsoft releases the first ever LSP.
    It is for typescript
  </section>

  <section id="prettier">
    <Title prefix="2017">prettier</Title>
    Format the code automatically, so we don't argue over tabs vs spaces
  </section>

  <section id="puppeteer">
    <Title prefix="2017">puppeteer</Title>
    He who controls the browser, can run e2e tests with ease
  </section>

  <section id="parcel">
    <Title prefix="2017">parcel</Title>
    Some tools don't last, but they pave the way.
    <ul>
      <li>zero config needed</li>
      <li>out-of-the-box features</li>
      <li>focused on speed</li>
    </ul>
  </section>

  <section id="wasm">
    <Title prefix="2017">Web Assembly</Title>
  </section>

  <section id="lighthouse">
    <Title prefix="2018">Lighthouse</Title>
    So you can measure how slow your site actually is
  </section>

  <section id="modern-days">
    <Title prefix="2019-2025">modern? times</Title>
    the world runs on js
  </section>

  <section id="monorepos">
    <Title prefix="2019">nx</Title>
    Do put all your projects in one basket
  </section>

  <section id="esbuild">
    <Title prefix="2020">esbuild</Title>
  </section>

  <section id="vite">
    <Title prefix="2020">vite</Title>
    Evan You has a dream - a universal build tool
  </section>

  <section id="deno">
    <Title prefix="2020">deno</Title>
    Ryan Dahl strikes again!
  </section>

  <section id="bun">
    <Title prefix="2021">bun</Title>
    FAST js runtime written in zig, running with JavaScriptCore (instead of v8)
  </section>

  <section id="biome">
    <Title prefix="2023">biome</Title>
    an even more opinionated formatter - thanks gofmt
  </section>

  <section id="runtime-proliferation">
    <Title prefix="2024">runtimes everywhere</Title>
    <p>almost all major platforms have their own js runtimes:</p>
    <ul>
      <li>cloudflair/workerd</li>
      <li>amazon LLRT</li>
    </ul>
  </section>

  <section id="wasm-v3">
    <Title prefix="2025">wasm v3</Title>
    <p>the new version of wasm brings a lot of improvements, making the web an even more viable compile target</p>
  </section>

  <section id="compiler-proliferation">
    <Title prefix="2025">everyone has a compiler now</Title>
    <p>almost all major frameworks have their own compiler:</p>
    <ul>
      <li>svelte</li>
      <li>react</li>
    </ul>
  </section>

  <section id="whats-next">
    <h2>Where is the tooling going next?</h2>
    <p class="text-4xl fragment">I don't know.. 🤷‍♂️😅</p>
  </section>

  <section id="lessons-learned">
    (lessons learned)
  </section>

  <section id="repeating-the-main-point">
    <h2>
      The tools we take for granted today
      are the result of years of evolution
    </h2>
    <p>
      the web is still evolving, against all odds -
      walled gardens, cryto scams, ai slop, etc
    </p>
  </section>

  <section id="thank-you">
    <h1><span class={fancyGradient}>Thank you!</span></h1>
  </section>
</Presentation>
