---
const { prefix } = Astro.props;

export const fancyGradient = "bg-gradient-to-r from-lime-700 via-blue-400 to-purple-700 inline-block text-transparent bg-clip-text"

const prefixFull = !prefix ? "" : `${prefix}: `;
---

<h3><span class={fancyGradient}>{prefixFull}</span> <slot /></h3>
